<section class="contacts">
  <h1 class="contact-card">There are <em><%= @number_of_contacts %></em> contacts</h1>
    <ul>
      <% @contacts.each do |contact| %>
        <a href="/contacts/<%= contact.id %>">
          <div class="contact-card">
            <li>
              <h2 class="contact-name"><%= contact.full_name %></h2>
              <h3 class="contact-name"><%= contact.email %></h3>
              <p class="options"><a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="#">Delete</a></p>
            </li>
          </div>
        </a>
      <% end %>
    </ul>
</section>
