<section class="contacts">
  <h2 class="contact-card">There are <em><%= @number_of_contacts %></em> contacts</h2>
    <ul>
      <% @contacts.each do |contact| %>
        <a href="/contacts/<%= contact.id %>">
          <div class="contact-card">
            <li>
              <h3 class="contact-name"><%= contact.full_name %> (<%= contact.email %>)</h3>
              <p class="note"><%= contact.note %></p>
              <p class="options"><a href="#">Edit</a> | <a href="#">Delete</a></p>
            </li>
          </div>
        </a>
      <% end %>
    </ul>
</section>
