<div class="contact-card">
  <li>
    <h2><%= @contact.full_name %></h2>
    <h3><%= @contact.email %></h3>
    <p class="note"><%= @contact.note %></p>
    <p class="options"><a href="/contacts/<%= @contact.id %>/edit">Edit</a> | <a href='/contacts/<%= @contact.id %>/del_contact'>Delete</a></p>
  </li>
</div>
